* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  filter: grayscale(100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh
}

.banner-jpg {
  display: block;
  width: 50%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.button-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.table-container {
  margin-bottom: 60px;
}

.small-loading-icon {
  width: 5%;
}

.position_column {
  width: 50%;
}

.company_column {
  width: 20%;
}

.website_column {
  width: 20%;
}

.website_created_at {
  width: 10%;
}